@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<oop_s2_3_mvc_78226.Models.StudentProfile>

@{
    ViewData["Title"] = "Students";
}

<h2>Students</h2>
<a href="/Admin/CreateStudent" class="btn btn-primary mb-3">Add Student</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Student Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.StudentNumber</td>
            </tr>
        }
    </tbody>
</table>